{% extends 'base.html.twig' %}

{% block title %} About us {% endblock %}

{% block body %}
<section class="about-big-title text-center" data-parallax="scroll" data-image-src="images/page-home/feature_style2_bg.jpg">
  <h2>{% trans %}About us{% endtrans %}</h2>
  <p class="color-white">TOTALLY AFFORADBLE AND EFFICIENT</p>
</section>
<!-- /.about-big-title -->

<div class="container" >
  <div class="row about-slogan text-center">
    <div class="col-xs-12">
      <h3>“Getting the job done wherever, however, no matter how big or small.”</h3>
      <p>To set new standards of ethics and excellence in delivering to our customers superior quality and value-for-money residential and commercial spaces by employing a team of highly motivated and focused professionals.</p>
    </div>
  </div>
  <!-- /.about-slogan -->

  <div class="row home-maintenance">
    <div class="col-md-6">
      <h3>Home Maintenance Business</h3>
      <p>One call does it all. Our company residential handyman services can help save time from the first phone call through project completion. Help with prioritizing major and minor home repairs and multi-tasking work means we complete jobs faster and better than your typical “handyman for hire”.</p>
      <p>Our Handyman team’s professionals arrive in nationally-recognized uniforms and logoed vans that are stocked with every tool they’ll need. You won’t have to interrupt your day, wasting valuable time waiting on us. Our on-time record is second to none, and we arrive ready to work. We are always ready to help you 24/7. For all your major and minor home repair needs, call us today to get the best offer.</p>
    </div>
    <div class="col-md-6">
      <img src="images/page-home/services-02.jpg" alt="">
    </div>
  </div>
  <!-- /.home-maintenance -->
</div>

{% endblock %}