{% extends 'base.html.twig' %}

{% block title %} About us {% endblock %}

{% block body %}
<section class="about-big-title text-center" data-parallax="scroll" data-image-src="images/page-home/feature_style2_bg.jpg">
  <h2 class="color-black">{% trans %}About us{% endtrans %}</h2>
  <p class="color-black">We want to help you achieve your goals</p>
</section>
<!-- /.about-big-title -->

<div class="container" >
  <div class="row about-slogan text-center">
    <div class="col-xs-12">
      <h3>“No Matter your Problem, We Can Solve it!.”</h3>
      <p>General Pro’s purpose is to set new standards of excellence. Our team of highly skilled and motivated professionals deliver superior quality and the best value for your money, while operating in any residential or commercial spaces.  </p>
    </div>
  </div>
  <!-- /.about-slogan -->

  <div class="row home-maintenance">
    <div class="col-md-6">
      <h3>Home Maintenance Business</h3>
      <p>General Pro is a company built on the idea of improving lives, by supplying services to people who need them. All it takes is one call. Our handyman services will help you save time all the way from the first phone call to your project’s completion. General Pro prioritizes major and minor home repairs. Moreover, because our professionals are able to efficiently multi-task at work, we complete jobs faster and better than a typical “handyman for hire”.</p>
      <p>Our Handyman team’s professionals will come to you in nationally-recognizable uniforms and logoed vans that carry every tool needed to realize your project. Our punctuality is second to none, and we arrive ready to work. Therefore, you will not have to interrupt your busy life by wasting valuable time waiting on us. We are ready to help you on a 24/7 basis. Contact us today to get the best offer for all your major and minor home repair needs. </p>
    </div>
    <div class="col-md-6">
      <img src="images/page-home/services-02.jpg" alt="">
    </div>
  </div>

  <h5>Testimony</h5>

  <!-- /.home-maintenance -->
</div>

{% endblock %}