{% extends 'base.html.twig' %}

{% block title %}Add prices{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div ng-controller= "AdminController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                {% include 'website/sidemenu-admin.html.twig' %}
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1 border-yellow no-padding">




                    <div class="modal-header bg-yellow">

                        <h4 class="modal-title">Add Price</h4>
                    </div>
                <form id="frm_newPrice" method="post" action="{{ path('createPrice') }}">
                    <div class="modal-body">

                        <div class="form-group">
                            <label for="subagCountry">Country</label>
                            <select name="PriceCountry" id="PriceCountry"  ng-model="newPrice.country" class="form-control" >

                                <option value="Canada">Canada</option>
                                <option value="Costa Rica">Costa Rica</option>
                                <option value="Cuba">Cuba</option>
                                <option value="Mexico">Mexico</option>
                                <option value="United States">United States</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="price">Price</label>
                            <input type="text" class="form-control" id="price" name="price" ng-model="newPrice.price" value="" >
                    </div>
                        <div class="form-group">
                            <label for="tax">Tax Percentage</label>
                            <input type="text" class="form-control" id="tax" name="tax" ng-model="newPrice.tax" value="" >
                        </div>
                        <div class="form-group">
                            <label for="plan">Plan Services</label>
                            <input type="text" class="form-control" id="plan" name="plan" ng-model="newPrice.plan" value="">
                        </div>


                    </div>

                        <button type="button" class="btn bg-yellow color-black" ng-click="addNewPrice()">
                            <span class="glyphicon glyphicon-floppy-disk" title="Save"></span> {{ 'dash_add' | trans({}, "messages", lang) }}
                        </button>

                </form>






            </div>



        </div>
    </div>

    </div>



    <div class="pad">
    </div>
{% endblock %}