{% extends 'base.html.twig' %}

{% block title %} Register {% endblock %}

{% block body %}
  <div class="pad">
  </div>
  <div class="container">
    <h2 class="heading-title">ADMINISTRATOR</h2>
    </br>

    <div id="exTab1" class="container">
      <ul  class="nav nav-pills">
        <li class="active">
          <a  href="#1a" data-toggle="tab">Customer</a>
        </li>
        <li><a href="#2a" data-toggle="tab">Technician</a>
        </li>
        <li><a href="#3a" data-toggle="tab">Request</a>
        </li>
        <li><a href="#4a" data-toggle="tab">Setting</a>
        </li>
      </ul>



      <div class="tab-content clearfix">


        <!--customer-------------------------------------------->


        <div class="tab-pane active" id="1a">
            <br/>
          <!-- Search Customer-------------------------------------------->
                  <form class="form-inline" role="form">
                    <div class="form-group">
                      <label class="sr-only" for="search">Search</label>
                      <input type="text" class="form-control" id="search" placeholder="Search">
                    </div>

                    <button type="submit" class="btn-xs"><span class="glyphicon glyphicon-search" title="go"></span></button>
                  </form>



          <div class="col-xs-12 container-rounded-corner color-orange">
            <div class="">
              <table class="table">
                <thead>
                <tr>
                  <th>Code Id</th>
                  <th>Country</th>
                  <th>Last Name</th>
                  <th>Name</th>
                  <th>Qty House</th>
                  <th>
                    <a href="#" data-toggle="modal" data-target="#addcustomerModal" >
                      <span class="glyphicon glyphicon-plus" title="add"></span>
                    </a>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr>

                  <td class="">CAD14253</td>
                  <td class="">CANADA</td>
                  <td class="">Fu</td>
                  <td class="">Antonio</td>
                  <td class="">2</td>
                  <td>
                    <a href="#" data-target="#" >
                      <span class="glyphicon glyphicon-remove" title="Remove" ></span>
                    </a>

                  </td>
                </tr>
                <tr>

                  <td class="">CA233232</td>
                  <td class="">CUBA</td>
                  <td class="">Ramos</td>
                  <td class="">Hector</td>
                  <td class="">10</td>
                  <td> 
                    <a href="#" data-target="#" >
                      <span class="glyphicon glyphicon-remove" title="Remove" ></span>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div><br/>




          <!-- End Search Customer-------------------------------------------->

          <div class="panel-body">

            <!-- Row Profile Customer and Houses Customer-------------------------------------------->
            <div class="row">
              <!-- Profile Customer-------------------------------------------->
              <div class="col-xs-4 container-rounded-corner ">

                <div class="row ">
                  <div class="col-xs-8 left-align">Antonio Fu</div>
                  <div class="col-xs-4 right-align ">
                    <a href="#maison3" data-toggle="modal" data-target="#editModal" >
                      <span class="glyphicon glyphicon-edit" title="Edit" ></span>
                    </a></div>
                </div>
                </br>
                <div class="row">

                  <div class="col-xs-4"></div>
                  <div class="col-xs-4 imgphoto "><img src="{{ asset('images/page-home/services-05.jpg') }}"  alt="profile" ></div>
                  <div class="col-xs-4"></div>
                </div>
                </br>

                <div class="row">
                  <div class="col-xs-4">ID</div>
                  <div class="col-xs-8">CAD14253</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">Last name</div>
                  <div class="col-xs-8">Fu</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">Name</div>
                  <div class="col-xs-8">Antonio</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">Email</div>
                  <div class="col-xs-8">antofuchong@gmail.com</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">Password</div>
                  <div class="col-xs-8">*****</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">PhonePrimary</div>
                  <div class="col-xs-8">437545443</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">PhoneAlternate</div>
                  <div class="col-xs-8">34353634</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">Country</div>
                  <div class="col-xs-8">Canada</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">State</div>
                  <div class="col-xs-8">Quebec</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">City</div>
                  <div class="col-xs-8">Montreal</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">Address</div>
                  <div class="col-xs-8">4534 av Maisonneuve</div>
                </div>
                <div class="row">
                  <div class="col-xs-4">ZipCode</div>
                  <div class="col-xs-8">j3d 2g3</div>
                </div>


              </div>
              <!-- End Profile Customer-------------------------------------------->



              <div class="col-xs-1"></div>

              <!-- Houses Customer-------------------------------------------->

              <div class="col-xs-7 container-rounded-corner color-blue">
                <div class="">
                  <table class="table">
                    <thead>
                    <tr>
                      <th>Country</th>
                      <th>Address</th>
                      <th>Plan</th>
                      <th>Due date</th>
                      <th>Local agent number</th>
                      <th>
                        <a href="#" data-toggle="modal" data-target="#addmaisonModal" >
                          <span class="glyphicon glyphicon-plus" title="add"></span>
                        </a>
                      </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td class="product-thumbnail text-center">
                        <a href="#" data-toggle="modal" data-target="#houseModal" >
                          <span class="glyphicon glyphicon-list-alt" title="View details" ></span>
                        </a>Cuba</td>
                      <td class="product-name">3233 Av maisonneuve</td>
                      <td class="">Basic</td>
                      <td class="product-qty">04/25/2017 </td>
                      <td class="">94232232232</td>
                      <td>
                        <a href="#" data-toggle="modal" data-target="#editmaisonModal" >
                          <span class="glyphicon glyphicon-edit" title="Edit" ></span>
                        </a>

                        <a href="#" data-toggle="modal" data-target="#addserviceModal" >
                          <span class="glyphicon glyphicon-plus" title="add service" ></span>
                        </a>
                        <a href="#" data-toggle="modal" data-target="#paymentsModal" >
                          <span class="glyphicon glyphicon-usd" title="View payments" ></span>
                        </a>
                        <a href="#" data-target="#" >
                          <span class="glyphicon glyphicon-remove" title="Remove" ></span>
                        </a>

                      </td>
                    </tr>
                    <tr>
                      <td class="product-thumbnail text-center">
                      <a href="#" data-toggle="#" >
                        <span class="glyphicon glyphicon-list-alt" title="View details" ></span>
                      </a>Cuba</td>
                      <td class="product-name">4232 av sddsd</td>
                      <td class="">Basic</td>
                      <td class="">12/25/2017</td>
                      <td class="product-qty">94232232232</td>
                      <td>
                        <a href="#" data-toggle="#" >
                          <span class="glyphicon glyphicon-edit" title="Edit" ></span>
                        </a>

                        <a href="#" data-toggle="#" >
                          <span class="glyphicon glyphicon-plus" title="add service" ></span>
                        </a>
                        <a href="#" data-toggle="#" >
                          <span class="glyphicon glyphicon-usd" title="View payments" ></span>
                        </a>
                        <a href="#" data-target="#" >
                          <span class="glyphicon glyphicon-remove" title="Remove" ></span>
                        </a>

                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <!-- End Houses Customer-------------------------------------------->
            </div>

            <!-- End Row Profile Customer and Houses Customer-------------------------------------------->

              </br></br>
            <!-- Details Services customer-------------------------------------------->
              <div class="row">
                <div class="col-xs-12">
                  <div class="panel-group" id="myAccordion">
                    <div class="panel panel-griss ">
                                  <div class="panel-heading ">
                                    <h4 class="panel-title ">
                                      <a data-toggle="collapse" data-parent="#myAccordion" href="#collapse1">JAN 21, 2017 - Plumbing - Closed


                                        <a href="#" data-toggle="modal" data-target="#editserviceModal" >
                                          <span class="glyphicon glyphicon-edit " title="add"></span>
                                        </a>

                                      </a>
                                    </h4>
                                  </div>

                                  <div id="collapse1" class="panel-collapse collapse in panel-collapse-color  ">
                                        <div class="panel-body">Request date : 04/24/2017 <br/>
                                          Status : Closed<br/>
                                          Code Service : PL00023
                                        </div>

                                        <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                                          sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                                          quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                        </div>

                                        <div class="panel-body">
                                          <div class="row">
                                            <div class="col-xs-2">Intervention date</div>
                                            <div class="col-xs-2">Technician</div>
                                            <div class="col-xs-7">Comments</div>
                                            <div class="col-xs-1">Amount</div>

                                          </div>
                                          <div class="row">
                                            <div class="col-xs-2">04/25/2017</div>
                                            <div class="col-xs-2">Jorge Suarez</div>
                                            <div class="col-xs-7">asfgasd a asda asdf asdfasdfasasdfasf</div>
                                            <div class="col-xs-1">US 15</div>

                                          </div>
                                          <div class="row">
                                            <div class="col-xs-2">04/26/2017</div>
                                            <div class="col-xs-2">Irina Rodriguez</div>
                                            <div class="col-xs-7">asdfasd asdf asdf asdf sa fas</div>
                                            <div class="col-xs-1">US 15</div>

                                          </div>
                                        </div>
                                  </div>
                    </div>
                  </div>
                </div>
              </div>

            <!-- End Details Services customer-------------------------------------------->



          </div>
          <!-- End Panel-------------------------------------------->
        </div>

        <!--End Customers-------------------------------------------->

        <!--Technician-------------------------------------------->
        <div class="tab-pane" id="2a">
          <br/>
          <!-- Search Technician-------------------------------------------->
          <form class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="search-technician">Search</label>
              <input type="text" class="form-control" id="search-technician" placeholder="Search">
            </div>

            <button type="submit" class="btn-xs"><span class="glyphicon glyphicon-search" title="go"></span></button>
          </form>






          <div class="col-xs-12 container-rounded-corner color-blue">
            <div class="">
              <table class="table">
                <thead>
                <tr>

                  <th>Service</th>
                  <th>Country</th>
                  <th>City</th>
                  <th>Last Name</th>
                  <th>Name</th>
                  <th>Qty House</th>
                  <th>Code Id</th>
                  <th>
                    <a href="#" data-toggle="modal" data-target="#addtechnicianModal" >
                      <span class="glyphicon glyphicon-plus" title="add"></span>
                    </a>
                  </th>
                </tr>
                </thead>
                <tbody>
                <tr>

                  <td class="">Plombing</td>
                  <td class="">CUBA</td>
                  <td class="">La Habana</td>
                  <td class="">Ramirez</td>
                  <td class="">Juan</td>
                  <td class="">4</td>
                  <td class="">CA35323</td>
                  <td>
                    <a href="#" data-target="#" >
                      <span class="glyphicon glyphicon-remove" title="Remove" ></span>
                    </a>

                  </td>
                </tr>
                <tr>

                  <td class="">Locksmith</td>
                  <td class="">CUBA</td>
                  <td class="product-qty">La Habana</td>
                  <td class="">Ramos</td>
                  <td class="">Hector</td>
                  <td class="">10</td>
                  <td class="">CA233232</td>
                  <td>
                    <a href="#" data-target="#" >
                      <span class="glyphicon glyphicon-remove" title="Remove" ></span>
                    </a>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div><br/>





          <!-- End Search Technician-------------------------------------------->

          <div class="row">
            <!-- Profile technician-------------------------------------------->
            <div class="col-xs-4 container-rounded-corner ">

              <div class="row ">
                <div class="col-xs-8 left-align">Technicien Juan Ramirez</div>
                <div class="col-xs-4 right-align ">
                  <a href="#maison3" data-toggle="modal" data-target="#edittechnicianModal" >
                    <span class="glyphicon glyphicon-edit" title="Edit" ></span>
                  </a></div>
              </div>
              </br>
              <div class="row">

                <div class="col-xs-4"></div>
                <div class="col-xs-4 imgphoto "><img src="{{ asset('images/page-home/services-01.jpg') }}"  alt="Paris" ></div>
                <div class="col-xs-4"></div>
              </div>
              </br>
              <div class="row">
                <div class="col-xs-4">Code ID</div>
                <div class="col-xs-8">CA35323</div>
              </div>
              <div class="row">
                <div class="col-xs-4">Last name</div>
                <div class="col-xs-8">Ramirez</div>
              </div>
              <div class="row">
                <div class="col-xs-4">Name</div>
                <div class="col-xs-8">Juan</div>
              </div>
              <div class="row">
                <div class="col-xs-4">Email</div>
                <div class="col-xs-8">ramirez@gmail.com</div>
              </div>
              <div class="row">
                <div class="col-xs-4">PhonePrimary</div>
                <div class="col-xs-8">437545443</div>
              </div>
              <div class="row">
                <div class="col-xs-4">PhoneAlternate</div>
                <div class="col-xs-8">34353634</div>
              </div>
              <div class="row">
                <div class="col-xs-4">Profesion</div>
                <div class="col-xs-8">Engineer</div>
              </div>
              <div class="row">
                <div class="col-xs-4">Serv. Provide</div>
                <div class="col-xs-8">Plumbing</div>
              </div>
              <div class="row">
                <div class="col-xs-4">Country</div>
                <div class="col-xs-8">Canada</div>
              </div>
              <div class="row">
                <div class="col-xs-4">State</div>
                <div class="col-xs-8">Quebec</div>
              </div>
              <div class="row">
                <div class="col-xs-4">City</div>
                <div class="col-xs-8">Montreal</div>
              </div>
              <div class="row">
                <div class="col-xs-4">Address</div>
                <div class="col-xs-8">4534 av Maisonneuve</div>
              </div>
              <div class="row">
                <div class="col-xs-4">ZipCode</div>
                <div class="col-xs-8">j3d 2g3</div>
              </div>
              <div class="row">
                <div class="col-xs-4">Mon - Fri</div>
                <div class="col-xs-8">10h - 18h</div>
              </div>
              <div class="row">
                <div class="col-xs-4">Sat</div>
                <div class="col-xs-8">11h - 15h</div>
              </div>
              <div class="row">
                <div class="col-xs-4">Sun</div>
                <div class="col-xs-8">11h - 14h</div>
              </div>


            </div>
            <!-- End Profile technician-------------------------------------------->



            <div class="col-xs-1"></div>

            <!-- technician services-------------------------------------------->

            <div class="col-xs-7 container-rounded-corner colorgris">
              <div class="">
                <table class="table">
                  <thead>
                  <tr>
                    <th>Country</th>
                    <th>Code Service</th>
                    <th>Code Client</th>
                    <th>Service</th>
                    <th>Date service</th>
                    <th>Amount</th>

                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td class="product-name">CUBA</td>
                    <td class="">BPS43567</td>
                    <td class="">TF43567</td>
                    <td class="product-qty">Plombing </td>
                    <td class="">04/25/2017</td>
                    <td class="">US 15 </td>
                    <td>
                      <a href="#" data-toggle="#" >
                        <span class="glyphicon glyphicon-list-alt" title="View details" ></span>
                      </a>

                    </td>
                  </tr>
                  <tr>

                    <td class="product-name">CUBA</td>
                    <td class="">TF4378</td>
                    <td class="">BPS43567</td>
                    <td class="product-qty">Plombing </td>
                    <td class="">06/25/2017</td>
                    <td class="">US 20 </td>
                    <td>
                      <a href="#maison2" data-toggle="collapse">
                        <span class="glyphicon glyphicon-list-alt" title="View details"></span>
                      </a>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <!-- End technician services-------------------------------------------->
          </div>

          <!-- End Row technician Customer and technician services-------------------------------------------->



          <!-- Details technician services-------------------------------------------->
        </br>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel-group" id="myAccordiontech">
                <div class="panel panel-griss ">
                  <div class="panel-heading ">
                    <h4 class="panel-title ">
                      <a data-toggle="collapse" data-parent="#myAccordion" href="#collapsetech">JAN 21, 2017 - Plumbing - Closed


                      </a>
                    </h4>
                  </div>

                  <div id="collapsetech" class="panel-collapse collapse in panel-collapse-color  ">
                    <div class="panel-body">Request date : 24/04/2017 <br/>
                      Status : Closed </br>
                      Code Service : PL00023
                    </div>

                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>

                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-2">Intervention date</div>
                        <div class="col-xs-2">Technician</div>
                        <div class="col-xs-7">Comments</div>
                        <div class="col-xs-1">Amount</div>

                      </div>
                      <div class="row">
                        <div class="col-xs-2">25/04/2017</div>
                        <div class="col-xs-2">Juan Ramirez</div>
                        <div class="col-xs-7">asfgasd a asda asdf asdfasdfasasdfasf</div>
                        <div class="col-xs-1">US 15</div>

                      </div>
                      <div class="row">
                        <div class="col-xs-2">26/04/2017</div>
                        <div class="col-xs-2">Irina Rodriguez</div>
                        <div class="col-xs-7">asdfasd asdf asdf asdf sa fas</div>
                        <div class="col-xs-1">US 15</div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <!-- End Details technician services-------------------------------------------->

        </div>


        <!--End Technician-------------------------------------------->

        <!--Request-------------------------------------------->
        <div class="tab-pane" id="3a">

          <!--Search Request-------------------------------------------->
          <form class="form-inline" role="form">
            <div class="form-group">
              <label class="sr-only" for="initial-date">Initial Date</label>
              <input type="date" class="form-control" id="initial-date" placeholder="Initial Date">
            </div>
            <div class="form-group">
              <label class="sr-only" for="final-date">Final Date</label>
              <input type="date" class="form-control" id="final-date" placeholder="Final Date">
            </div>
            <div class="form-group">
              <label class="sr-only" for="client">Client</label>
              <input type="text" class="form-control" id="client" placeholder="Client">
            </div>
            <div class="form-group">
              <label class="sr-only" for="service1">Service</label>
              <input type="text" class="form-control" id="service1" placeholder="Service">
            </div>

            <button type="submit" class="btn-xs"><span class="glyphicon glyphicon-search" title="go"></span></button>
          </form>

          <!--End Search Request-------------------------------------------->
          <!--Panel Request-------------------------------------------->
        </br>
          <div class="col-xs-12 container-rounded-corner color-yellowhite">
            <div class="">
              <table class="table">
                <thead>
                <tr>
                  <th>Code Id</th>
                  <th>Code Service</th>
                  <th>Country</th>
                  <th>Client</th>
                  <th>Service</th>
                  <th>House Adresse</th>
                  <th>Details</th>
                  <th>

                  </th>
                </tr>
                </thead>
                <tbody>
                <tr>

                  <td class="">CAD14253</td>
                  <td class="">PB234232</td>
                  <td class="">CANADA</td>
                  <td class="">Fu Antonio</td>
                  <td class="">Plumbing</td>
                  <td class="">Av Maisonneuve</td>
                  <td class="">asdffdsasdasd ass</td>
                  <th>
                    <a href="#" data-toggle="collapse">
                      <span class="glyphicon glyphicon-list-alt" title="View details"></span>
                    </a>

                  </th>
                </tr>
                <tr>

                  <td class="">CAD24353</td>
                  <td class="">PB2325332</td>
                  <td class="">USA</td>
                  <td class="">Hernandez Ronald</td>
                  <td class="">Locksmith</td>
                  <td class="">Av los Proceres 3454</td>
                  <td class="">asdffdsasfdss ass</td>
                  <th>
                    <a href="#" data-toggle="collapse">
                      <span class="glyphicon glyphicon-list-alt" title="View details"></span>
                    </a>

                  </th>
                </tr>
                </tbody>
              </table>
            </div>
          </div><br/>
          <!--End Panel Request-------------------------------------------->
          <!--Detatails Panel Request-------------------------------------------->
          </br>
          <div class="row">
            <div class="col-xs-12">
              <div class="panel-group" id="myAccordionreq">
                <div class="panel panel-griss ">
                  <div class="panel-heading ">
                    <h4 class="panel-title ">
                      <a data-toggle="collapse" data-parent="#myAccordion" href="#collapsereq">JAN 21, 2017 - Plumbing - Closed


                      </a>
                    </h4>
                  </div>

                  <div id="collapsereq" class="panel-collapse collapse in panel-collapse-color">
                    <div class="panel-body">Request date : 24/04/2017 <br/>
                      Status : Closed </br>
                      Code Service : PL00023
                    </div>

                    <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                      sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    </div>

                    <div class="panel-body">
                      <div class="row">
                        <div class="col-xs-2">Intervention date</div>
                        <div class="col-xs-2">Technician</div>
                        <div class="col-xs-7">Comments</div>
                        <div class="col-xs-1">Amount</div>

                      </div>
                      <div class="row">
                        <div class="col-xs-2">25/04/2017</div>
                        <div class="col-xs-2">Juan Ramirez</div>
                        <div class="col-xs-7">asfgasd a asda asdf asdfasdfasasdfasf</div>
                        <div class="col-xs-1">US 15</div>

                      </div>
                      <div class="row">
                        <div class="col-xs-2">26/04/2017</div>
                        <div class="col-xs-2">Irina Rodriguez</div>
                        <div class="col-xs-7">asdfasd asdf asdf asdf sa fas</div>
                        <div class="col-xs-1">US 15</div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!--End Detatails Panel Request-------------------------------------------->



        </div>

        <!--End Request-------------------------------------------->
        <!--Setting-------------------------------------------->
        <div class="tab-pane" id="4a">


          </br>
          <div class="col-xs-12 container-rounded-corner color-orange">
            <div class="">
              <table class="table">
                <thead>
                <tr>
                  <th>Country</th>
                  <th>Local Number</th>
                  <th>Basic Plan</th>
                  <th>GP Plus</th>
                  <th>Aditional Service</th>

                  <th>

                  </th>
                </tr>
                </thead>
                <tbody>
                <tr>

                  <td class="">CANADA</td>
                  <td class="">2452323232</td>
                  <td class="">CAD 29.00</td>
                  <td class="">CAD 59.00</td>
                  <td>
                    <a href="#" data-toggle="modal" data-target="#settingModal" >
                      <span class="glyphicon glyphicon-list-alt" title="View details"></span>
                    </a>

                  </td>
                </tr>
                  <tr>

                  <td class="">CUBA</td>
                  <td class="">243223232</td>
                  <td class="">US 19.00</td>
                  <td class="">US 29.00</td>
                  <td>
                    <a href="#" data-toggle="collapse">
                      <span class="glyphicon glyphicon-list-alt" title="View details"></span>
                    </a>

                  </td>
                </tr>

                <tr>

                  <td class="">USA</td>
                  <td class="">243233433</td>
                  <td class="">US 29.00</td>
                  <td class="">US 39.00</td>
                  <td>
                    <a href="#" data-toggle="collapse">
                      <span class="glyphicon glyphicon-list-alt" title="View details"></span>
                    </a>

                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div><br/>















        </div>

        <!--End Setting-------------------------------------------->


      </div>
    </div>




  </div>























  <!-- Modal -->

  <!-- Modal Customer-->


  <div id="houseModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">House information</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-xs-5">Plan</div>
            <div class="col-xs-7">Basic</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Due date</div>
            <div class="col-xs-7">04/25/2017</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Suscription date</div>
            <div class="col-xs-7">12/02/2017</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Contact</div>
            <div class="col-xs-7">Renzo Sanchez</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Phone (Primary)</div>
            <div class="col-xs-7">234543232</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Phone (Alternate)</div>
            <div class="col-xs-7">23523232</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Country</div>
            <div class="col-xs-7">Cuba</div>
          </div>
          <div class="row">
            <div class="col-xs-5">City</div>
            <div class="col-xs-7">La habana</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Address</div>
            <div class="col-xs-7">3233 Av maisonneuve</div>
          </div>
          <div class="row">
            <div class="col-xs-5">State / Province</div>
            <div class="col-xs-7">Matanzas</div>
          </div>
          <div class="row">
            <div class="col-xs-5">Local number</div>
            <div class="col-xs-7">94232232232</div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove" title="Close"></span>
          </button>
        </div>
      </div>

    </div>
  </div>


  <div id="paymentsModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Payments history</h4>
        </div>
        <div class="modal-body">

          <h4 >Suscription date 12 02-2017 ( Basic plan)</h4>

          <div class="row">
            <div class="col-xs-5">Payment date</div>
            <div class="col-xs-7">Amount</div>
          </div>
          <div class="row">
            <div class="col-xs-5">12/06/2017</div>
            <div class="col-xs-7">$29.99</div>
          </div>
          <div class="row">
            <div class="col-xs-5">12/07/2017</div>
            <div class="col-xs-7">$29.99</div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove" title="Close"></span>
          </button>
        </div>
      </div>

    </div>
  </div>

  <div id="addcustomerModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Customer</h4>
        </div>
        <div class="modal-body"> <div class="form-group">
            <label for="codeid">ID:</label>
            <input type="text" class="form-control" id="codeid" value="" >
          </div>

          <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input type="text" class="form-control" id="lastname" value="">
          </div>
          <div class="form-group">
            <label for="lastname">Name:</label>
            <input type="text" class="form-control" id="lastname" value="" >
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" value="" >
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" value="">
          </div>
          <div class="form-group">
            <label for="phonePrimary">Phone Primary:</label>
            <input type="tel" class="form-control" id="phonePrimary" value="" >
          </div>
          <div class="form-group">
            <label for="phonealternate">Phone Alternate:</label>
            <input type="tel" class="form-control" id="phonealternate" value="" >
          </div>
          <div class="form-group">
            <label for="country">Country:</label>
            <input type="text" class="form-control" id="country" value="" >
          </div>
          <div class="form-group">
            <label for="state">State:</label>
            <input type="text" class="form-control" id="state" value="" >
          </div>
          <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" value="" >
          </div>
          <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" class="form-control" id="address" value="" >
          </div>
          <div class="form-group">
            <label for="zipCode">ZipCode:</label>
            <input type="text" class="form-control" id="zipCode" value="" >
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-floppy-disk" title="Save"></span>
          </button>
        </div>
      </div>

    </div>
  </div>

  <div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit</h4>
        </div>
        <div class="modal-body"> <div class="form-group">
            <label for="codeid">ID:</label>
            <input type="text" class="form-control" id="codeid" value="CAD14253" >
          </div>

          <div class="form-group">
            <label for="lastname">Last Name:</label>
            <input type="text" class="form-control" id="lastname" value="Fu">
          </div>
          <div class="form-group">
            <label for="lastname">Name:</label>
            <input type="text" class="form-control" id="lastname" value="Antonio" >
          </div>
          <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email" value="antofuchong@gmail.com" >
          </div>
          <div class="form-group">
            <label for="pwd">Password:</label>
            <input type="password" class="form-control" id="pwd" value="*****">
          </div>
          <div class="form-group">
            <label for="phonePrimary">Phone Primary:</label>
            <input type="tel" class="form-control" id="phonePrimary" value="534545443" >
          </div>
          <div class="form-group">
            <label for="phonealternate">Phone Alternate:</label>
            <input type="tel" class="form-control" id="phonealternate" value="437545443" >
          </div>
          <div class="form-group">
            <label for="country">Country:</label>
            <input type="text" class="form-control" id="country" value="Canada" >
          </div>
          <div class="form-group">
            <label for="state">State:</label>
            <input type="text" class="form-control" id="state" value="Quebec" >
          </div>
          <div class="form-group">
            <label for="city">City:</label>
            <input type="text" class="form-control" id="city" value="Montreal" >
          </div>
          <div class="form-group">
            <label for="address">Address:</label>
            <input type="text" class="form-control" id="address" value="4534 av Maisonneuve" >
          </div>
          <div class="form-group">
            <label for="zipCode">ZipCode:</label>
            <input type="text" class="form-control" id="zipCode" value="j3d 2g3" >
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-floppy-disk" title="Save"></span>
          </button>
        </div>
      </div>

    </div>
  </div>



  <div id="editmaisonModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit House</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="editplan">Plan:</label>
            <input type="text" class="form-control" id="editplan" value="Basic">
          </div>
          <div class="form-group">
            <label for="editduedate">Due date:</label>
            <input type="text" class="form-control" id="editduedate" value="04/25/2017" >
          </div>
          <div class="form-group">
            <label for="addsuscription">Suscription date:</label>
            <input type="text" class="form-control" id="addsuscription" value="12/02/2017" >
          </div>
          <div class="form-group">
            <label for="editcontact">Contact:</label>
            <input type="text" class="form-control" id="editcontact" value="Renzo Sanchez">
          </div>
          <div class="form-group">
            <label for="editphonePrimary">Phone Primary:</label>
            <input type="tel" class="form-control" id="editphonePrimary" value="234543232" >
          </div>
          <div class="form-group">
            <label for="editphonealternate">Phone Alternate:</label>
            <input type="tel" class="form-control" id="editphonealternate" value="23523232" >
          </div>
          <div class="form-group">
            <label for="editcountry">Country:</label>
            <input type="text" class="form-control" id="editcountry" value="Cuba" >
          </div>
          <div class="form-group">
            <label for="editcity">City:</label>
            <input type="text" class="form-control" id="editcity" value="La habana" >
          </div>

          <div class="form-group">
            <label for="editaddress">Address:</label>
            <input type="text" class="form-control" id="editaddress" value="3233 Av maisonneuve" >
          </div>
          <div class="form-group">
            <label for="editstate">State:</label>
            <input type="text" class="form-control" id="editstate" value="Matanzas" >
          </div>
          <div class="form-group">
            <label for="editlocalnumber">Local number:</label>
            <input type="tel" class="form-control" id="editlocalnumber" value="94232232232" >
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-floppy-disk" title="Save"></span>
          </button>
        </div>
      </div>

    </div>
  </div>


  <div id="addmaisonModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add House</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="add-plan">Plan:</label>
            <input type="text" class="form-control" id="add-plan" value="">
          </div>
          <div class="form-group">
            <label for="add-duedate">Due date:</label>
            <input type="text" class="form-control" id="add-duedate" value="" >
          </div>
          <div class="form-group">
            <label for="add-suscription">Suscription date:</label>
            <input type="text" class="form-control" id="add-suscription" value="" >
          </div>
          <div class="form-group">
            <label for="add-contact">Contact:</label>
            <input type="text" class="form-control" id="add-contact" value="">
          </div>
          <div class="form-group">
            <label for="add-phonePrimary">Phone Primary:</label>
            <input type="tel" class="form-control" id="add-phonePrimary" value="" >
          </div>
          <div class="form-group">
            <label for="add-phonealternate">Phone Alternate:</label>
            <input type="tel" class="form-control" id="add-phonealternate" value="" >
          </div>
          <div class="form-group">
            <label for="add-country">Country:</label>
            <input type="text" class="form-control" id="add-country" value="" >
          </div>
          <div class="form-group">
            <label for="add-city">City:</label>
            <input type="text" class="form-control" id="add-city" value="" >
          </div>

          <div class="form-group">
            <label for="add-address">Address:</label>
            <input type="text" class="form-control" id="add-address" value="" >
          </div>
          <div class="form-group">
            <label for="add-state">State:</label>
            <input type="text" class="form-control" id="add-state" value="" >
          </div>
          <div class="form-group">
            <label for="add-localnumber">Local number:</label>
            <input type="tel" class="form-control" id="add-localnumber" value="" >
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-plus" title="Save"></span>
          </button>
        </div>
      </div>

    </div>
  </div>



  <div id="addserviceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Services</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="add-service-request">Request date:</label>
            <input type="date" class="form-control" id="add-service-request" value="">
          </div>
          <div class="form-group">
            <label for="add-service-service">Service:</label>
            <input type="text" class="form-control" id="add-service-service" value="" >
          </div>
          <div class="form-group">
            <label for="add-service-status">Status:</label>
            <input type="text" class="form-control" id="add-service-status" value="" >
          </div>
          <div class="form-group">
            <label for="add-service-details">Details:</label>
            <input type="text" class="form-control" id="add-service-details" value="">
          </div>
          <div class="form-group">
            <label for="add-service-intervention-date">Intervention date:</label>
            <input type="date" class="form-control" id="add-service-intervention-date" value="" >
          </div>
          <div class="form-group">
            <label for="add-service-technician">Technician:</label>
            <input type="text" class="form-control" id="add-service-technician" value="" >
          </div>
          <div class="form-group">
            <label for="add-service-comments">Comments:</label>
            <input type="text" class="form-control" id="add-service-comments" value="" >
          </div>
          <div class="form-group">
            <label for="add-service-amount">Amount:</label>
            <input type="number" class="form-control" id="add-service-amount" value="" >
          </div>




        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-plus" title="Save"></span>
          </button>
        </div>
      </div>

    </div>
  </div>




  <div id="editserviceModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Services</h4>
        </div>
        <div class="modal-body">

          <div class="form-group">
            <label for="edit-service-request">Request date:</label>
            <input type="date" class="form-control" id="edit-service-request" value="2017-01-21">
          </div>
          <div class="form-group">
            <label for="edit-service-service">Service:</label>
            <input type="text" class="form-control" id="edit-service-service" value="Plumbing" >
          </div>
          <div class="form-group">
            <label for="edit-service-status">Status:</label>
            <input type="text" class="form-control" id="edit-service-status" value="Closed" >
          </div>
          <div class="form-group">
            <label for="edit-service-details">Details:</label>
            <input type="text" class="form-control" id="edit-service-details" value="Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.">
          </div>
          <div class="form-group">
            <label for="edit-service-intervention-date">Intervention date:</label>
            <input type="date" class="form-control" id="edit-service-intervention-date" value="23/04/2017" >
          </div>
          <div class="form-group">
            <label for="edit-service-technician">Technician:</label>
            <input type="text" class="form-control" id="edit-service-technician" value="Jorge Suarez" >
          </div>
          <div class="form-group">
            <label for="edit-service-comments">Comments:</label>
            <input type="text" class="form-control" id="edit-service-comments" value="asfgasd a asda asdf asdfasdfasasdfasf" >
          </div>
          <div class="form-group">
            <label for="edit-service-amount">Amount:</label>
            <input type="number" class="form-control" id="edit-service-amount" value="15" >
          </div>

          <div class="form-group">
            <label for="edit-service-intervention-date2">Intervention date:</label>
            <input type="date" class="form-control" id="edit-service-intervention-date2" value="26/04/2017" >
          </div>
          <div class="form-group">
            <label for="edit-service-technician2">Technician:</label>
            <input type="text" class="form-control" id="edit-service-technician2" value="Irina Rodriguez" >
          </div>
          <div class="form-group">
            <label for="edit-service-comments2">Comments:</label>
            <input type="text" class="form-control" id="edit-service-comment2" value="asdfasd asdf asdf asdf sa fas" >
          </div>
          <div class="form-group">
            <label for="edit-service-amount2">Amount:</label>
            <input type="number" class="form-control" id="edit-service-amount2" value="15" >
          </div>
          <div class="form-group">
            <label for="edit-service-intervention-date3">Intervention date:</label>
            <input type="date" class="form-control" id="edit-service-intervention-date3" value="" >
          </div>
          <div class="form-group">
            <label for="edit-service-technician3">Technician:</label>
            <input type="text" class="form-control" id="edit-service-technician3" value="" >
          </div>
          <div class="form-group">
            <label for="edit-service-comments3">Comments:</label>
            <input type="text" class="form-control" id="edit-service-comments3" value="" >
          </div>
          <div class="form-group">
            <label for="edit-service-amount3">Amount:</label>
            <input type="number" class="form-control" id="edit-service-amount3" value="" >
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-plus" title="Save"></span>
          </button>
        </div>
      </div>

    </div>
  </div>


  <!-- End Modal Customer-->












  <!-- Modal Technician-->

  <!-- add technician Modal-->
  <div id="addtechnicianModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Add Technicien</h4>
        </div>
        <div class="modal-body"> <div class="form-group">
            <label for="add-tech-codeid">Code ID</label>
            <input type="text" class="form-control" id="add-tech-codeid" value="" >
          </div>

          <div class="form-group">
            <label for="add-tech-lastname">Last Name:</label>
            <input type="text" class="form-control" id="add-tech-lastname" value="">
          </div>
          <div class="form-group">
            <label for="add-tech-lastname">Name:</label>
            <input type="text" class="form-control" id="add-tech-lastname" value="" >
          </div>
          <div class="form-group">
            <label for="add-tech-email">Email:</label>
            <input type="email" class="form-control" id="add-tech-email" value="" >
          </div>
          <div class="form-group">
            <label for="add-tech-phonePrimary">Phone Primary:</label>
            <input type="tel" class="form-control" id="add-tech-phonePrimary" value="" >
          </div>
          <div class="form-group">
            <label for="add-tech-phonealternate">Phone Alternate:</label>
            <input type="tel" class="form-control" id="add-tech-phonealternate" value="" >
          </div>
          <div class="form-group">
            <label for="add-tech-lastname">Profesion:</label>
            <input type="text" class="form-control" id="add-tech-lastname" value="" >
          </div>
          <div class="form-group">
            <label for="add-tech-lastname">Serv. Provide:</label>
            <input type="text" class="form-control" id="add-tech-lastname" value="" >
          </div>
          <div class="form-group">
            <label for="add-tech-country">Country:</label>
            <input type="text" class="form-control" id="add-tech-country" value="" >
          </div>
          <div class="form-group">
            <label for="add-tech-state">State:</label>
            <input type="text" class="form-control" id="add-tech-state" value="" >
          </div>
          <div class="form-group">
            <label for="add-tech-city">City:</label>
            <input type="text" class="form-control" id="add-tech-city" value="" >
          </div>
          <div class="form-group">
            <label for="add-tech-address">Address:</label>
            <input type="text" class="form-control" id="add-tech-address" value="" >
          </div>
          <div class="form-group">
            <label for="add-tech-zipCode">ZipCode:</label>
            <input type="text" class="form-control" id="add-tech-zipCode" value="" >
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-floppy-disk" title="Save"></span>
          </button>
        </div>
      </div>

    </div>
  </div>

  <!-- End add technician Modal-->





  <!-- Edit technician Modal-->

  <div id="edittechnicianModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Edit Technician</h4>
        </div>
        <div class="modal-body"> <div class="form-group">
            <label for="edit-tech-codeid">Code ID</label>
            <input type="text" class="form-control" id="edit-tech-codeid" value="CA35323" >
          </div>

          <div class="form-group">
            <label for="edit-tech-lastname">Last Name:</label>
            <input type="text" class="form-control" id="edit-tech-lastname" value="Ramirez">
          </div>
          <div class="form-group">
            <label for="edit-tech-lastname">Name:</label>
            <input type="text" class="form-control" id="edit-tech-lastname" value="Juan" >
          </div>
          <div class="form-group">
            <label for="edit-tech-email">Email:</label>
            <input type="email" class="form-control" id="edit-tech-email" value="ramirez@gmail.com" >
          </div>
          <div class="form-group">
            <label for="edit-tech-phonePrimary">Phone Primary:</label>
            <input type="tel" class="form-control" id="edit-tech-phonePrimary" value="437545443" >
          </div>
          <div class="form-group">
            <label for="edit-tech-phonealternate">Phone Alternate:</label>
            <input type="tel" class="form-control" id="edit-tech-phonealternate" value="34353634" >
          </div>
          <div class="form-group">
            <label for="edit-tech-lastname">Profesion:</label>
            <input type="text" class="form-control" id="edit-tech-lastname" value="Engineer" >
          </div>
          <div class="form-group">
            <label for="edit-tech-lastname">Serv. Provide:</label>
            <input type="text" class="form-control" id="edit-tech-lastname" value="Plumbing" >
          </div>
          <div class="form-group">
            <label for="edit-tech-country">Country:</label>
            <input type="text" class="form-control" id="edit-tech-country" value="Canada" >
          </div>
          <div class="form-group">
            <label for="edit-tech-state">State:</label>
            <input type="text" class="form-control" id="edit-tech-state" value="Quebec" >
          </div>
          <div class="form-group">
            <label for="edit-tech-city">City:</label>
            <input type="text" class="form-control" id="edit-tech-city" value="Montreal" >
          </div>
          <div class="form-group">
            <label for="edit-tech-address">Address:</label>
            <input type="text" class="form-control" id="edit-tech-address" value="4534 av Maisonneuve" >
          </div>
          <div class="form-group">
            <label for="edit-tech-zipCode">ZipCode:</label>
            <input type="text" class="form-control" id="edit-tech-zipCode" value="j3d 2g3" >
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-floppy-disk" title="Save"></span>
          </button>
        </div>
      </div>

    </div>
  </div>


  <!--End Edit technician Modal-->


  <!-- End Modal Technician-->



  <!-- Modal Setting-->


  <div id="settingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Addicional Services Prices</h4>
        </div>
        <div class="modal-body">

          <div class="row">
            <div class="col-xs-7">Service</div>
            <div class="col-xs-5">Amount</div>
          </div>
          <div class="row">
            <div class="col-xs-7">Lawn maintenance</div>
            <div class="col-xs-5">CAD 19.99</div>
          </div>
          <div class="row">
            <div class="col-xs-7">Nursing Care</div>
            <div class="col-xs-5">CAD $29.99</div>
          </div>
          <div class="row">
            <div class="col-xs-7">Day care</div>
            <div class="col-xs-5">CAD $19.99</div>
          </div>
          <div class="row">
            <div class="col-xs-7">Cleaning services</div>
            <div class="col-xs-5">CAD $29.99</div>
          </div>
          <div class="row">
            <div class="col-xs-7">IT support & services</div>
            <div class="col-xs-5">CAD $19.99</div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="glyphicon glyphicon-remove" title="Close"></span>
          </button>
        </div>
      </div>

    </div>
  </div>










{% endblock %}