{% extends 'base.html.twig' %}

{% block title %} Register {% endblock %}

{% block body %}
  <div class="pad">
  </div>
  <div class="">
    <h2 class="heading-title">Resume</h2>
    </br>
    <div class="row">
      <div class="col-xs-4">

        <div class="row">
          <div class="col-xs-5">Last name</div>
          <div class="col-xs-7">Fu</div>
        </div>
        <div class="row">
          <div class="col-xs-5">Name</div>
          <div class="col-xs-7">Antonio</div>
        </div>
        <div class="row">
          <div class="col-xs-5">Email</div>
          <div class="col-xs-7">Fu</div>
        </div>
        <div class="row">
          <div class="col-xs-5">Password</div>
          <div class="col-xs-7">*****</div>
        </div>
        <div class="row">
          <div class="col-xs-5">PhonePrimary</div>
          <div class="col-xs-7">437545443</div>
        </div>
        <div class="row">
          <div class="col-xs-5">PhoneAlternate</div>
          <div class="col-xs-7">34353634</div>
        </div>
        <div class="row">
          <div class="col-xs-5">Country</div>
          <div class="col-xs-7">Canada</div>
        </div>
        <div class="row">
          <div class="col-xs-5">State</div>
          <div class="col-xs-7">Quebec</div>
        </div>
        <div class="row">
          <div class="col-xs-5">City</div>
          <div class="col-xs-7">Montreal</div>
        </div>
        <div class="row">
          <div class="col-xs-5">Address</div>
          <div class="col-xs-7">4534 av Maisonneuve</div>
        </div>
        <div class="row">
          <div class="col-xs-5">ZipCode</div>
          <div class="col-xs-7">j3d 2g3</div>
        </div>


      </div>

      <div class="col-xs-8">
        <div class="table-responsive table-shopping-cart">
          <table class="table">
            <thead>
            <tr>
              <th>Country</th>
              <th>Address</th>
              <th >Contact name</th>
              <th>Phone</th>
              <th>Local agent number</th>
              <th>Plan</th>
              <th>Subscription date</th>
              <th class="text-center"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="product-thumbnail text-center">Cuba</td>
              <td class="product-name">3233 Av maisonneuve</td>
              <td class="product-price">Irina Ramos</td>
              <td class="product-qty">94232232232 </td>
              <td class="">94232232232</td>
              <td class="product-qty">Basic </td>
              <td class="">04/25/2017</td>
              <td><a href="#maison1" data-toggle="collapse">click</a></td>
            </tr>
            <tr>
              <td class="product-thumbnail text-center">Cuba</td>
              <td class="product-name">4232 av sddsd</td>
              <td class="product-price">Carlos</td>
              <td class="product-qty">942423232232 </td>
              <td class="">Cuba</td>
              <td class="product-qty">Basic </td>
              <td class="">12/25/2017</td>
              <td><a href="#maison2" data-toggle="collapse">Click</a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="panel-group" id="myAccordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#myAccordion" href="#collapse1">Collapsible Group 1</a>
              </h4>
            </div>
            <div id="collapse1" class="panel-collapse collapse in">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#myAccordion" href="#collapse2">Collapsible Group 2</a>
              </h4>
            </div>
            <div id="collapse2" class="panel-collapse collapse in">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#myAccordion" href="#collapse3">Collapsible Group 3</a>
              </h4>
            </div>
            <div id="collapse3" class="panel-collapse collapse in">
              <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</div>
            </div>
          </div>

        </div>

        <form action="#" method="post" enctype="multipart/form-data">


        </form>

      </div>
      <div class="collapse in" id="maison1">
        <div class="container">
          <p>House 00243 </p>
          <table class="table">
            <thead>
            <tr>
              <th >RequestDate</th>
              <th >InterventionDate</th>
              <th>ServiceID</th>
              <th>Service</th>
              <th>TechnicianID</th>
              <th>Status</th>
              <th>Details</th>
              <th>Contact</th>
            </tr>
            </thead>


            <tr>
              <td class="">03/04/2017</td>
              <td class="">04/04/2017</td>
              <td class="product-name">536433</td>
              <td class="product-price">plumbing</td>
              <td class="product-qty">Carlos Sanz</td>
              <td class="">Attended</td>
              <td class="">Problems with faucett</td>
              <td class="">Alberto</td>
            </tr>

            <tr>
              <td class="">08/04/2017</td>
              <td class="">10/04/2017</td>
              <td class="product-name">536438</td>
              <td class="product-price">Electricity</td>
              <td class="product-qty">Andres Lopilato</td>
              <td class="">Attended</td>
              <td class="">Electrical problems</td>
              <td class="">Roberto</td>
            </tr>

            <tr>
              <td class="">15/04/2017</td>
              <td class="">19/04/2017</td>
              <td class="product-name">536458</td>
              <td class="product-price">locksmith</td>
              <td class="product-qty">Marisol</td>
              <td class="">Attended</td>
              <td class="">Problems with door</td>
              <td class="">Alejandro</td>
            </tr>

          </table>

        </div>
      </div>

      <div class="collapse in" id="maison2">
        <div class="container">
          <p>House 00278 </p>

          <table class="table">
            <thead>
            <tr>
              <th >RequestDate</th>
              <th >InterventionDate</th>
              <th>ServiceID</th>
              <th>Service</th>
              <th>TechnicianID</th>
              <th>Status</th>
              <th>Details</th>
              <th>Contact</th>
            </tr>
            </thead>


            <tr>
              <td class="">02/04/2017</td>
              <td class="">03/04/2017</td>
              <td class="product-name">536435</td>
              <td class="product-price">plumbing</td>
              <td class="product-qty">Rodolfo German</td>
              <td class="">Attended</td>
              <td class="">Problems ett</td>
              <td class="">Braulio</td>
            </tr>

            <tr>
              <td class="">14/04/2017</td>
              <td class="">15/04/2017</td>
              <td class="product-name">536456</td>
              <td class="product-price">Electricity</td>
              <td class="product-qty">Andres Lopilato</td>
              <td class="">Attended</td>
              <td class="">Electrical problems</td>
              <td class="">Mauricio</td>
            </tr>


          </table>


        </div>
      </div>
    </div>
  </div>
  </div>


{% endblock %}