{% extends 'base.html.twig' %}

{% block title %} General Pro - Terms and Conditions {% endblock %}

{% block body %}

<!-- /.about-big-title -->

<div class="container" >

  <!-- /.about-slogan -->

  <div class="row home-maintenance">
    <div class="col-md-12">

      <h4 class="text-center top-bot-padding">Terms of Use</h4>

      <h5>COPYRIGHTS</h5>
      <p>This site and the materials are the property of © 2017 General Pro, and its licensors, and are protected by copyright, international treaties, and other laws.  </p>


      <h5>KEY TERMS</h5>
      <p>“We” represents General Pro, its employees, associates, and affiliates. </p>
      <p>“You” represents you as a user, a client, and a beneficiary of General Pro’s services. </p>
      <p>“Content” means text, illustrations, messages, reviews, and other information available on the General Pro Site.  </p>
      <p>“Member” represents someone who registers on the General Pro Site. </p>
      <p>“Platform” means the General Pro Site, or any other services provided by or through General Pro, whether in the present or in the future. </p>
      <p>“General Pro Content” means all Content that General Pro publishes or shares on it site. This Content includes any Content licensed from a third party. However, it excludes User Content. </p>
      <p>“User Content” means all Content submitted and uploaded to the Site by any Member. This includes but it not limited to reviews, payments, and posting, but it includes General Pro Content and Feedback.</p>
      <h5>USE OF THE GENERAL PRO SITE</h5>
      <p>You may use the General Pro Site only if you are of age 18 and older, or if you are of the age of 13 and accompanied by a parent or guardian. As a customer, you assert that the information you provide on the General Pro website is correct and complete. You will be held accountable for the confidentiality of your password and for all declarations made and acts or omissions that take place on your account. If you believe someone has used your password or account without your approval, you must immediately notify General Pro. At our own discretion, your account may also be restricted or ended for any reason. We also reserve the right to change, limit access to, suspend, or put an end to the General Pro site, at any time, without previous notice.</p>
      <p>With that being said, you are completely forbidden to:</p>
      <div class=" left-padding">
      <ol>
        <li>Violate or attempt to violate the security of the General Pro Site.</li>
        <li>Use any type of device, or software to interfere or attempt to interfere with the proper functioning of the General Pro Site.  </li>
      </ol>
    </div>
<br>
      <h5>USER CONTENT SUBMISSION</h5>
      <p>General Pro allows users to submit comments, feedback, suggestions, questions, reviews, and other content through the General Pro Site. This “content” can be written in English, French, or Spanish.  </p>
      <p>By submitting content, you testify that (1) you are the one and only author and owner of the content; (2) you are at least 18 years old, otherwise, you are at least 13 years old and your submission has been made under the supervision of a parent or legal guardian who agrees to comply to this Agreement; and (3) use of any content you provide will not infringe on any term of this Agreement, and will not cause injury to any individual or entity.  </p>


        <h5>A)	License Grant for Submitted Content</h5>

        <p>If you make any submission to the General Pro Site, you automatically warrant that the owner of such content has deliberately granted General Pro, a royalty-free, everlasting, irrevocable, worldwide, limitless, nonexclusive license to use, replicate, derivate from, modify, publish, edit, translate, distribute, and display the content in any media or medium now known or henceforward developed. You should not supply any content to us that you do not wish to license to us. General Pro is and shall be under no commitment to:   </p>
        <div class="left-padding">
        <ol>
            <li>Maintain any content in privacy</li>
            <li>Pay any recompense for any content</li>
            <li>Respond to any user content</li>
        </ol>
        </div>
        <br>
        <p> You grant General Pro the right to use the name that you submit in association with any content.</p>


        <h5>B)	Content Prohibitions</h5>
        <p>As a user of the General Pro Site, you warrant that you will not submit: </p>
        <div class="left-padding">
        <ol>

            <li>Content that is false, inaccurate, or deceptive. </li>
            <li>Content that violates any local, state, federal, or international laws.</li>
            <li>Content that infringes on the rights of others, this comprises patents, copyrights, trademarks, trade secrets, publicity and privacy rights.</li>
            <li>Content that is illegal, pejorative, offensive, intimidating, slanderous, hateful, or embarrassing to any other person or entity as determined by General Pro.</li>
            <li>Advertisements, solicitations or spam links to other web sites or individuals, without prior written consent from General Pro.</li>
            <li>Chain letters and/or pyramid schemes.</li>
            <li>Content that imitates another business, or individual, including General Pro and its related employees and agents. </li>
            <li>Content that contains harmful computer codes.</li>
            <li>Content that you were remunerated by any third party, unless authorized by General Pro. </li>
            <li>Content that violates any policy specified on the General Pro Site, or interferes with the use of the site by others.</li>

        </ol>
        </div>

        <br>
        <p>Even though General Pro cannot oversee all content, you understand that General Pro shall have the right, but not the responsibility, to monitor the content of the General Pro Site to determine compliance with this Agreement and any other operating rules. General Pro has the right to edit, remove, or refuse to post any content submitted, to or posted on, the General pro Site for any reason, including violation of this Agreement. Nonetheless, you are responsible for any content you submit, and you agree to indemnify General Pro and its associates for all claims resulting from any content you submit.</p>


        <h5>INTELLECTUAL PROPERTY RIGHTS</h5>

        <p>All General Pro content is protected by copyright, trademark, and other laws of Canada, foreign countries, and international agreements. Unless it is specifically dictated in these Terms, General Pro and its licensors exclusively own all right, title, and interest in and to the Platform and General Pro content, including all related intellectual property rights. All trademarks, service marks, logos, designs, icons, illustrations, text, trade names and any other proprietary designations of General Pro used on this site are trademarks or registered trademarks that are controlled, owned, or licensed by General Pro, its associates, or by third parties who have licensed their materials to General Pro and are protected by Canadian and international trademark and copyright laws. </p>

        <h5>INDEMNIFICATION</h5>

        <p>You agree to indemnify, protect and hold General Pro and its associates harmless from and against all claims, damages, costs, and expenditures, including lawyers’ fees that relate to your use of the General Pro Site or any violation of this agreement by you. </p>


        <h5>TERMINATION OF THE AGREEMENT</h5>

        <p>This agreement is valid until its termination by either you or by General Pro. You can end this agreement whenever, in case that you stop using the General Pro Site. You may terminate your account activation at any time, by simply contacting us and expressing your desire to deactivate your account. Keep in mind that if you decide to do so, General Pro does not have the obligation to remove or return to you any content that you submitted to our site. Said content includes, but is not restricted to, reviews, comments, and feedback. On the other hand, in our discretion, we reserve the right to restrict, or deactivate your account with or without prior notice, if you fail to comply with any aspect of this agreement. This can take place in many forms. For instance, your password can be disabled, which will result in your inability to access your User content, and to receive assistance from our support teams. Furthermore, we are allowed to communicate to other users that your account has been deactivated, as well as the reason behind this decision. If we decide to deactivate your account based on your incompliance with our terms, you are obliged to get rid of not only all materials downloaded or obtained from the General Pro Site, but also copies of said materials. Any termination of this agreement will subsequently end the following sections of this agreement: “use of the general pro site”, “user content submission”, “intellectual property rights”, “indemnification”, “limitations of liability”, “payments”, “general”.</p>

        <h5>LIMITATIONS OF LIABILITY</h5>

        <p>UNDER ANY CIRCUMSTANCES AND LEGAL PRINCIPLES, GENERAL PRO AND ITS AFFILIATES, ASSOCIATES, OR EMPLOYEES WILL NOT BE LIABLE TO YOU OR TO ANY OTHER PERSON FOR ANY INDIRECT, INCIDENTAL, OR CONSEQUENTIAL DAMAGES OR LOSSES DERIVING FROM THE USE OF INABILITY TO USE THE GENERAL PRO SITE. THESE DAMAGES INCLUDE BUT ARE NOT LIMITED TO, DAMAGES FOR LOST PROFITS, LOSS OF GOODWILL, LOSS OF DATA, ACCURACY OF RESULTS, OR COMPUTER MALFUNCTION, EVEN IF A GENERAL PRO REPRESENTATIVE HAD PREVIOUSLY BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES.  </p>

        <h5>PAYMENTS</h5>

        <p>By acting in accordance with these terms, you agree to provide General Pro accurate and complete information about you and your payment information. If you or any Member does not pay on time, or if General Pro is unable to charge a provided payment method for any reason, General Pro reserves all rights approved under law to pursue and recover payment, as well as all costs and expenses involved, including attorneys’ fees. If you have an amount of money due on any account, you agree that General Pro may charge such unpaid payments to your credit card, or bill you for said unpaid expenditures. You openly approve that all communication about fraudulent and delinquent accounts or payments due will be achieved by electronic mail or by phone; said communication may be made by General Pro or by anyone on its behalf. </p>

        <h5>GENERAL</h5>

        <p>This Agreement is a clear and precise representation of the complete agreement between the parties involved in the use of General Pro’s services and website, and it overtakes prior agreements and representations between the parties. General Pro’s failure to respectfully react to a violation of this Agreement by the users does not constitute a waiver and shall not restrict General Pro’s rights on the account of such breach or any following breaches. This Agreement, the Privacy Policy, and your use of the site are governed by and interpreted under the laws of the Province of Quebec, as well as the laws of Canada. Therefore, you consent to the exclusive jurisdiction of the courts, tribunals, and other dispute resolution institutes in Montreal, Quebec, and/or Canada, in case of any dispute that relates to this site and/or to this agreement, or in any situation in which this agreement is referenced in a paper filed in a dispute resolution organisation. By agreeing to these Terms of Use, you agree that General Pro may change the terms, conditions and notices under which this site operates, at any time and without prior notice. General Pro’s enactment of this agreement is subject to existing laws, and nothing mentioned in this agreement exempts General Pro from its right to comply with law enforcement demands in relation to information gathered by General Pro about its consumers’ use of the site. No alteration of this agreement will be deemed effective unless and until it is approved by General Pro. </p>


        <p>Order Confirmation: After your order has been placed, a 30 day wait will take place. During this delay, an inspection will be carried in your home, in which our professional inspectors will verify the conditions of your home, as well as authenticate your demands. This will allows us to avoid any uncomfortable or unwanted situation. During and after this inspection, an inspection report will be written by our inspectors. This inspection report will let General Pro know about your situation and will allow us to confirm your order. Nonetheless, take into account that an order placed for the services under the GP Add will not require a 30 day wait. Instead, such order will be instantly considered, and it will be taken care of as soon as possible.    </p>

        <p>Plans Limitations: Unexpected accidents or damages at home can be very costly. Our plans will help you prevent this from happening. General Pro’s plans, the GP Basic and the GP Plus take care of the service that we provide to you. In other words, you are paying for our labour. However, these plans do not cover some major additional materials that might be needed to fully realize a task. </p>
        <p>Moreover, being subscribed to our plans allows you to request our services twice a month. In both of these occasions, our team will go to your domicile and efficiently cater to your needs. If you were to demand our services more than two times per month, you would have to pay a supplementary price, which will be determined by the type of labor done, the amount of working hours, and the labor cost. </p>
        <p>Our plans comprise labour costs that are equal or less than 400$. Consequently, this amount is the maximum amount of costs covered by our plans. If your project or requirement were to exceed $400, you would have to pay the difference between the assignment’s final cost and $400. </p>
        <p>Furthermore, some of the services provided by our plans are only covered if they are minor. Such services include plumbing and electricity. If the tasks related to these services are deemed to be major by our experts, an additional payment will have to take place. Keep in mind that we will accommodate your needs and your demands to the best of our abilities, and we will give you the most reasonable price possible.  </p>
        <p>Force Majeure: Neither you nor General Pro shall be held accountable for any postponement or failure in performance under these Terms, if the cause of contract breach is beyond either party’s control. Such causes include but are not limited to acts of God, acts of war whether it is declared or undeclared, earthquakes, strikes, fires, floods, unobtainability of necessary utilities, blackouts and national disasters. Therefore, General Pro’s plans are not responsible for insuring services under such circumstances.  </p>
        <p>Subscription Cancellation and fees: If you were to end your subscription to either one of our plans, you shall pay the equivalent of three months of subscription, respective to your plan. You may request a cancellation by emailing xxxxxx.com or by calling us at xxxxxx. We will process your request within a 30 days of receiving it.  </p>
        <p>Contacting you: By using our services and agreeing to these terms, you agree that General Pro may contact you under certain circumstances. By subscribing to our newsletter, you agree that General Pro has the right to send you notifications, which may include notices regarding changes to the Terms, changes to the website, and changes to our services. In addition, only with your approval, General Pro’s customer service team may contact you by telephone or text messages.    </p>
        <p>Contacting information: If you still have any questions about our Terms of Use, or about the General Pro Site in general, be sure to contact us by sending an email to xxxxxxx.com, or by calling us at xxxxxxx. </p>






    </div>

  </div>

  <!-- /.home-maintenance -->
</div>

{% endblock %}