{% extends 'base.html.twig' %}

{% block title %} Contact us {% endblock %}

{% block body %}
<div class="provide-services row row-xs-center">
     <div class="col-md-12">
        <div class="we-are-layoutcontact_pro">
   
      <h2 class="provide-services_title">{% trans %}Contact us{% endtrans %}</h2>

		</div>
	</div>
  </div>


<div class="container contact-content" ng-controller="ContactUsController">
  <div class="row">
    <div class="col-md-4">
     
	 
        <img class="hotline-img" src="images/page-home/services-14.jpg" alt="">
        
     
      <!-- /.hotline -->

      <p class="hotline-description">Ask us questions. Feel free to make some suggestions and comments about your experience with General Pro. Our customer service team will immediately respond to your message.  </p>
      <!-- /.hotline-description -->


      <!-- /.call-us_phone -->

      <!-- /.call-us_address -->
    </div>

    <div class="col-md-8">
      <div id="map-canvas" class="thememove-gmaps" data-address="40.7590615,-73.969231" data-height="400" data-width="100%" data-zoom_enable="" data-zoom="16" data-map_type="roadmap" data-map_style="style1"></div>
      <!-- /.thememove-gmaps -->
      <h5 class="error-message text-bold text-center" ng-bind="auth.message" class=""> </h5>
      <form id="frm_contact_us" method="GET" action="{{ path('send_email') }}" >
        <div class="row">
          <div class="col-sm-12">
            <input type="text" id="cname" name="cname"  ng-model="sender.cname" required placeholder="Name*">
          </div>
          <div class="col-sm-12">
            <input type="text" name="phone" id="phone" ng-model="sender.phone" value="" size="40" aria-invalid="false" placeholder="Phone">
          </div>
          <div class="col-sm-12">
            <input type="email" name="email" id="email" ng-model="sender.email" required placeholder="Email*">
          </div>
          <div class="col-sm-12">
            <textarea name="message" id="message" ng-model="sender.message" cols="40" rows="10" aria-invalid="false" placeholder="Your message*" style="height: 110px;"></textarea>
          </div>
          <div class="col-sm-12">
            <button type="button" class="btn" ng-click="send()">Send Messages</button>
          </div>
        </div>
      </form>
      <!-- /form -->
    </div>
  </div>
</div>
<!-- /.contact-content -->
{% endblock %}
