{% extends 'base.html.twig' %}

{% block title %} Request Proforma{% endblock %}

{% block body %}
    <div class="pad">
    </div>
    <div ng-controller="DashboardController">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3">
                {% include 'website/sidemenu.html.twig' with {'customerId' : customer.customerid} %}
            </div>
            <div class="col-xs-12 col-md-8 col-md-offset-1 border-yellow no-padding ">

                <div class="modal-header bg-yellow">

                    <h4 class="modal-title">Service Request</h4>
                </div>

                <div class="modal-body">
                    <form class="form-inline">
                        <div class="row">
                            <div class="col-xs-5 text-bold">Reference Number:</div>
                            <div class="col-xs-7" >CA2454343 </div>
                        </div><br>

                        <div class="row">
                            <div class="col-xs-5 text-bold">Account Number:</div>
                            <div class="col-xs-7" >44454334 </div>
                        </div><br>
                        <div class="row">
                            <div class="col-xs-5 text-bold">{{ 'dash_sdate' | trans({}, "messages", lang)}}:</div>
                            <div class="col-xs-7" >15-04-2017 </div>
                        </div><br>
                        <div class="row">
                            <div class="col-xs-5 text-bold">Applicant name:</div>
                            <div class="col-xs-7" ng-bind="customer.fullName"></div>
                        </div><br>
                        <div class="row">
                            <label class="col-xs-5 text-bold" for="addr">Addresse:</label>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" size="30" id="addr">
                            </div>
                        </div><br>
                        <div class="row">
                            <label class="col-xs-5 text-bold" for="servicereq">Service Request:</label>
                            <div class="col-xs-7">


                                <select name="service" id="service" class="form-control"   >

                                    <option value="Plumbing">Plumbing</option>
                                    <option value="Electricity">Electricity</option>
                                    <option value="Doors and Windows">Doors and Windows</option>
                                    <option value="Locksmith">Locksmith</option>
                                    <option value="United States">United States</option>
                                    <option value="Appliances">Appliances</option>
                                    <option value="AC/Heating">AC/Heating</option>
                                    <option value="Nursing Care">Nursing Care</option>
                                    <option value="Child Care">Child Care</option>
                                    <option value="Lawn maintenance">Lawn maintenance</option>
                                    <option value="Cleaning services">Cleaning services</option>
                                    <option value="IT support and services">IT support and services</option>
                                    <option value="Painting Services">Painting Services</option>
                                    <option value="others">Others</option>
                                </select>




                            </div>
                        </div><br>

                        <div class="row">
                            <div class="col-xs-5 text-bold">Job description:</div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <textarea class="form-control col-xs-5" rows="7" id="jobdescription"></textarea>
                        </div><br>
                        <div class="row">
                            <div class="col-xs-5 text-bold">Additional comments</div> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            <textarea class="form-control col-xs-5" rows="3" id="addcomment"></textarea>
                        </div>
                </div>

                        <div class="modal-footer">
                            <button type="button" class="btn bg-yellow color-black" data-dismiss="modal">
                                <span class="glyphicon glyphicon-send" title="Save"></span> {{ 'dash_send_proforma' | trans({}, "messages", lang)}}
                            </button>
                        </div>
                    </form>






            </div>
        </div>


    </div>

    </div>
    <div class="pad">
    </div>
{% endblock %}