{% extends 'base.html.twig' %}

{% block title %} General Pro - Register {% endblock %}

{% block body %}
  <div class="pad">

  </div>


  <div class="container">
    <h2 class="heading-title">Welcome Rhodelyr</h2>
    </br>
    <div class="row">

      <div class="col-xs-8">
        <form action="#" method="post" enctype="multipart/form-data">
          <div class="table-responsive table-shopping-cart">
            <table class="table">


              <tbody>
              <tr>

                <td class="">

                </td>
                <td class="">
                  <a href="#">FirstName</a>
                </td>

                <td class="">
                  <div class="input-group">
                    <input type="text" id="firstName_edit" value="">
                  </div>
                </td>

              </tr>

              <tr>
                <td class="">
                </td>
                <td class="">
                  <a href="#">LastName</a>
                </td>

                <td class="">
                  <div class="input-group">
                    <input type="text" id="lastName_edit" value="">
                  </div>
                </td>
              </tr>

              <tr>
                <td class="">
                </td>
                <td class="">
                  <a href="#">Email</a>
                </td>

                <td class="">
                  <div class="input-group">
                    <input type="text" id="email_edit" value="">
                  </div>
                </td>
              </tr>
              <tr>
                <td class="">
                </td>
                <td class="">
                  <a href="#">Password</a>
                </td>

                <td class="">
                  <div class="input-group">
                    <input type="text" id="password_edit" value="">
                  </div>
                </td>
              </tr>
              <tr>
                <td class="">
                </td>
                <td class="">
                  <a href="#">PhonePrimary</a>
                </td>

                <td class="">
                  <div class="input-group">
                    <input type="text" id="phonePrimary_edit" value="">
                  </div>
                </td>
              </tr>
              <tr>
                <td class="">
                </td>
                <td class="">
                  <a href="#">PhoneAlternate</a>
                </td>

                <td class="">
                  <div class="input-group">
                    <input type="text" id="phoneAlternate_edit" value="">
                  </div>
                </td>
              </tr>
              <tr>
                <td class="">
                </td>
                <td class="">
                  <a href="#">Country</a>
                </td>

                <td class="">
                  <div class="input-group">
                    <input type="text" id="country_edit" value="">
                  </div>
                </td>
              </tr>
              <tr>
                <td class="">
                </td>
                <td class="">
                  <a href="#">State</a>
                </td>

                <td class="">
                  <div class="input-group">
                    <input type="text" id="state_edit" value="">
                  </div>
                </td>
              </tr>
              <tr>
                <td class="">
                </td>
                <td class="">
                  <a href="#">City</a>
                </td>

                <td class="">
                  <div class="input-group">
                    <input type="text" id="city_edit" value="">
                  </div>
                </td>
              </tr>
              <tr>
                <td class="">
                </td>
                <td class="">
                  <a href="#">Address</a>
                </td>

                <td class="">
                  <div class="input-group">
                    <input type="text" id="address_edit" value="">
                  </div>
                </td>
              </tr>

              <tr>
                <td class="">
                </td>
                <td class="">
                  <a href="#">ZipCode</a>
                </td>

                <td class="">
                  <div class="input-group">
                    <input type="text" id="zipCode_edit" value="">
                  </div>
                </td>
              </tr>


              </tbody>

            </table>
            <button type="submit" class="btn">Save</button>
            <a href="/client-resume" class="btn">Resume </a>
          </div>
        </form>

      </div>
    </div>

  </div>






{% endblock %}