{% extends 'base.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}

    <!-- /.about-big-title -->

    <div class="container" >

        <!-- /.about-slogan -->

        <div class="row home-maintenance">
            <div class="col-md-12">

                <h4 class="text-center top-bot-padding">Privacy Policy</h4>


                <p>General Pro values your privacy. The objective of this Privacy statement is to inform you about our process of collecting, using, and sharing information. In addition, this statement describes the choices customers can make about our use of their information. This Policy applies only to information collected on the General Pro Site. It does not apply to information obtained through any other means, (including but not limited to information collected offline, in person, by mail, over a phone conversation, or information collected from third parties outside General Pro’s Platform). Keep in mind that our collection efforts are done with the best of intentions, in order to improve our customers’ experience, as well as to provide customers relevant information about our services. Therefore, by using, or even accessing the Site, you are agreeing to this Policy. </p>
                <h5>IF YOU DO NOT AGREE WITH THIS POLICY FOR ANY REASON, PLEASE DO NOT ACCESS OR USE THE SITE. </h5>

                <h5>KEY TERMS</h5>
                <br>
                <p>Please refer to the "Key Terms" section in our Terms of Use.</p>

                <h5>INFORMATION WE COLLECT</h5>
                <p>Our way of collecting and storing your information is based on how you access and use the Platform. The main ways in which we collect information are: when you provide information directly to us, when you provide information to us through third parties, and when we passively collect your information. </p>


                <p>Information you provide directly to us</p>

                <p>We may collect information that you directly provide to us during your use or access of the Platform. This includes when: </p>


                <div class="left-padding">
                    <ul>
                        <li>You register for an Account;</li>
                        <li>You participate in our polls or surveys;</li>
                        <li>You enroll for electronic newsletters;</li>
                        <li>You request information;</li>
                        <li>You submit or respond to User Content such as quotes, comments, and feedback;</li>
                        <li>You make a purchase;</li>
                        <li>You fill out a form;</li>
                        <li>You register for a contest, and/or a discount;</li>
                        <li>You communicate with us through the Site. </li>

                    </ul>
                </div>
                </br>
                <p>The information you provide directly to us may concern you or others and may include, but may not be limited to: </p>

                <p><b>Contact Information: </b>Name, zip code, email address, home or business telephone number, and home, business or mailing address. </p>
                <p><b>Demographic Information:</b> Gender, age, political preference, educational background, ethnic background, and other relevant information such as services you prefer and reviews you submit.</p>
                <p><b>Personal Information:</b> Date of birth, insurance information and any information that is relevant to administer your participation to a contest, promotion or any other program offered by General Pro. </p>
                <p><b>Request Information:</b> Detailed information about your needs, and/or your projects. </p>
                <p><b>Payment Information:</b> Information from your selected payment method, whether it is credit or debit card, cheque, PayPal account or gift card, as well as identity verification information such as your signature. </p>
                <i>Information provided through affiliated and non-affiliated third parties </i>
                <p>We may collect information about you through General Pro affiliated third parties. For instance, you may be able to access the Platform through a social networking account, such as Facebook, Instagram, and/or Twitter. By accessing the Platform through any of these accounts, you may allow us to have access to certain information presented in said accounts. Such information may include your name, gender, networks, user IDs, list of friends, location, birth date, email address, photos, videos, people you follow and your followers, as well as your posts and the posts you like. </p>
                <p>With that being said, all of the social networking sites mentioned above have their own policies for handling your information. Make sure to consult these sites’ privacy policies to understand how they use and disclose your private and public information. Nevertheless, General Pro has no control over how any third-party site uses or discloses your personal information.</p>
                <p>We may also collect information about you through non-affiliated third parties. For example, to the extent permitted by law, we may, in our sole discretion, request and collect additional information from third parties, such as information about your credit from a credit bureau, or information to verify your identity or trustworthiness. We may then combine information that we collect from you through the Platform with information that we obtain from such third parties and information derived from any other services we provide.</p>
                <i>Information that is passively or automatically collected</i>
                <p><b>Device/Usage Information:</b> We may use cookies, web beacons, and other tracking technologies to collect information about the computers or devices you use to access the Site. In any of these cases, we may collect and analyze information that includes but is not limited to:</p>
                <div class="left-padding">
                    <ol>
                        <li>Browser type;</li>
                        <li>ISP operating system </li>
                        <li>Domain name;</li>
                        <li>Access time;</li>
                        <li>Referring pages;</li>
                        <li>IP address;</li>
                        <li>Unique device identifiers;</li>
                        <li>Type of device being used;</li>
                        <li>Frequency of your use or access of the Site;</li>


                    </ol>
                </div>
                </br>
                <p>We may use this information to determine the most frequently used sections of the Site, our users’ preferences and dislikes, as well as to evaluate the success of our advertising campaigns, by determining the relevancy of our advertising, whether it is on or off the Site. </p>
                <p><b>Location Information: </b>We may collect general location information, such as your IP address. This will allow us to obtain information about your exact location, in order to improve our Site, by identifying the most common requests near your location, as well as by identifying the services around your area. We reserve the right to share your location information with our advertisers, in order to create customized content and advertisement. If you access or use the Platform through a mobile device and you do not want your device to provide us with location-tracking information, you can disable the location-tracking functions on your mobile, such as the GPS. Please consult your device’s instructions for further details. Keep in mind that disabling such functions may cause you to be unable to use certain sections of the Site.</p>
                <p><b>Cookies and Other Electronic Technologies:</b> We and our third-party service providers may use cookies, pixel tags, and other electronic technologies that enable us to better understand user behavior, customize and personalize preferences, conduct research, and simply improve the Platform. These electronic technologies will also improve your user experience, as it may allow us to customize the Site to your needs, save your password in password-protected areas, track the pages you visit, manage our content, and collect statistics about Platform usage. Furthermore, General Pro may use some of these technologies to deliver advertisements through the Platform that may be of interest to you. We or our third-party service providers may also use such technologies while sending emails to our customers, in order to be able to track email response rates, recognize when our emails are viewed, and track whether our emails are forwarded.</p>
                <p>You have the option of accepting or declining cookies. Most web browsers are programmed to automatically accept cookies, but you may modify your browser settings to decline cookies, at any time. Please consult your browser’s “help” section in order to get more information about cookies. Keep in mind that if you choose to disable cookies, you may not be able to take full advantage of the Platform, as certain sections may not function at their fullest.   </p>
                <h5>HOW WE USE INFORMATION</h5>

                <p>We use the information we collect for business purposes, including the following reasons:</p>
                <div class="left-padding">
                    <ol>
                        <li>For the sole purposes for which you provided it;</li>
                        <li>To register you for our services and to verify your identity and authority to use our services;</li>
                        <li>To provide customer support and to respond to your demands;</li>
                        <li>For internal record-keeping purposes;</li>
                        <li>To conduct surveys, contests, promotions or sweepstakes;</li>
                        <li>To process billing and payment;</li>
                        <li>To maintain and improve the Platform, as well as to develop our services;</li>
                        <li>To address and take care of safety concerns, such as complaints and suspected fraud;</li>
                        <li>To send promotional emails in regards to new services, special offers, or other interesting information from General Pro;</li>
                        <li>Only with your consent, to contact you by telephone or text message regarding some services, changes in our policies, or information requested by you;</li>
                        <li>For General Pro’s research purposes, which include the customization of the Site based on your interests;</li>
                        <li>For other research and analytical purposes;</li>
                        <li>To protect ourselves and other users of the Site, and to apply any legal terms that govern your use of the Site. </li>


                    </ol>
                </div>
                </br>

                <p>We may retain your information to assist you in the future. Furthermore, we reserve the right to combine the information that we obtain through the Site with information that we collect from our third parties, whether affiliated or not, as well as information that comes from any services we offer. </p>
                <p>For marketing and/or research purposes, we may aggregate and/or de-identify information collected through the Site. We reserve the right to share such data with any third parties, such as advertisers, promotional partners, promoters, sponsors, and others. </p>
                <h5>HOW WE DISCLOSE YOUR INFORMATION</h5>
                <p>We may share the information that we collect from you through the Platform according to the following terms:</p>

                <div class="left-padding">
                    <ol>
                        <li>Affiliates: We reserve the right to share your information with any of our affiliates</li>
                        <li>Consent: Based solely on your consent, we may disclose the information you provide to us to non-affiliated third parties. This consent includes the disclosure of your information in these specific cases: a) in order to provide services that you have requested, b) when we have your permission, c) and/or as described in this Privacy Policy, our Terms of Use, or any other legal terms that dictate your use of the Platform. </li>
                        <li>Service Providers: We may provide access to your information in order to select the third parties who will perform services on our behalf. Such services include but are not limited to billing, advertising, fraud and safety protection, legal services, data storage, etc. We seek contractual assurances from these third parties in order to make sure that our current and future service providers will not use your information in any manner other than to help us provide you with the services we offer. </li>
                        <li>Legal Requirements: We may disclose your information when required by law or when we believe that it is necessary to: a) comply with any legal process we receive, such as subpoenas and court orders, b) exercise our legal rights, such as enforcing and administering agreements with users; c) defend ourselves against legal claims. Consequently, if we are required by law to disclose your information, we will do our best to notify you, unless a) we believe that this action could risk someone’s injury or death, b) we are prevented from providing notice by law. If you have provided us your email address, we will attempt to notify you by email. However, if you do not partake in our disclosure request, it is possible that we are legally required to provide your information. </li>
                        <li>Protection of General Pro and Others: We may disclose your information if and when we believe it necessary to investigate, or take action in regard to possible illegal activities, which include but are not limited to fraud, situations involving threats to a person’s physical safety, violations of any legal terms that dictate the use of the Site, and to protect General Pro’s rights and property and the rights and property of our users.  </li>
                        <li>Business Transfers: We may sell, buy, merge, or partner with other companies. Such transactions may cause user information to be shared. </li>
                        <li>App Store Providers: We may provide your identity to third-party app store providers, in order to allow you to download our mobile app. </li>


                    </ol>
                </div>
                </br>
                <h5>PRIVACY CONCERNING MINORS</h5>


                <p>The Services we provide are not intended for the use of minors under 18 years of age. Only people who are 18 years or older may use the Site. If we learn that a person under 18 has provided us with personal information, we will close the account and eliminate the information. We reserve the right, if permitted by law, to keep certain information solely for purposes mentioned in this Policy.</p>
                <h5>SECURITY</h5>

                <p>We use proper physical security measures, as well as technological security measures, such as encryption and passwords, in order to protect your personal information from unauthorized and/or undesired access or disclosure. </p>
                <p>However, keep in mind that no security measure is completely failsafe. Thus, we do not promise that your personal information will not be collected, disclosed, or used by others. You should also do your best to protect your information against unauthorized access to your password or device. Some steps to protect your personal information include logging off after accessing the Platform through a public computer, using a strong password, and using different passwords from your other accounts. General Pro is not responsible for the unauthorized use of your information, nor for the loss of your passwords, or for any activity on your Account that takes place via unauthorized password activity. </p>
                <br>
                <h5>LINKS TO OTHER PLATFORMS</h5>



                <p>The Site may contain links to other websites over which General Pro has no control. Such links do not represent our endorsement of those external websites. Therefore, you acknowledge that General Pro is providing these links to the user only as a convenience. Moreover, you agree that General Pro is not responsible for the content of such websites or the protection and privacy of such websites. </p>
                <h5>CHANGING YOUR INFORMATION</h5>

                <p>It is important that you update your Account information if it changes or if it is inaccurate. If you wish to delete your information or your account, you can make a request. Upon this request, we will close your Account and remove your information as soon as possible. We reserve the right to keep information from closed Accounts in order to comply with any purpose permitted by law. With that being said, you agree that General Pro will not be responsible to you for keeping information related to your Account.   </p>
                <h5>CHANGES TO THIS POLICY</h5>

                <p>We reserve the right to change this Policy at any time, and to post the updated versions on the Site. We will notify you of these changes in advance of when they are set to take place. General Pro encourages you to review this Policy from time to time to keep up with any changes. </p>

                <p><strong>Contacting information:</strong> If you still have any questions about our Privacy Policy, or about the General Pro Site in general, be sure to contact us by sending an email to administrator@general-pro.com, or by calling us at 1-(514)-375-4523.</p>
                <p></p>

            </div>

        </div>

        <!-- /.home-maintenance -->
    </div>

{% endblock %}