{% extends 'base.html.twig' %}

{% block title %}  {% endblock %}

{% block body %}

<!-- /.about-big-title -->

<div class="container" >

    <!-- /.about-slogan -->

    <div class="row home-maintenance">
        <div class="col-md-12">

            <h4 class="text-center top-bot-padding">Refund Policy </h4>


            <p>If by any chance you are not satisfied with the way our professionals handled your demands, you can demand a cancellation or refund by emailing a request to us at administrator@general-pro.com Your request has to be valid and detailed. You will need to specify the date and the type of service received, as well as the reasons behind your dissatisfaction. Any cancellation and refund requests will be subject to Galico Solutions’s review and total discretion. We will treat your written request within 30 days of receiving it, unless a shorter period is required by law. Keep in mind that if you cancel your account at any time, you will not receive any refund.</p>
        </div>

    </div>

    <!-- /.home-maintenance -->
</div>

{% endblock %}