<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you for choosing General Pro</title>
</head>
<body>
{% set lang = app.session.get('lang') %}

    <img src="https://general-pro.com/images/gp.png">
    <p>Dear {{customerFullname}}, </p>
    <p>
        Thank you for registering online with General Pro. We would like to take the opportunity to welcome you
        <br/>into the General Pro family of services. We're looking forward to assisting you with ....

        <br/><br/>If you have questions or need assistance, please <a href="https://general-pro.com/contact">contact us.</a>

    </p>
</body>
</html>