{% extends 'base.html.twig' %}

{% block title %} Sign in {% endblock %}

{% block body %}
<div class="pad">

</div>

<div class="container" ng-controller="UserController">
  <div class="row">
    <div class="col-xs-12">
      <h3>Login</h3>

      <form class="form-login" method="POST" id="frm_signin" action="{{ path('app_user_authenticate') }}">
        <h5 class="error-message text-bold text-center" ng-bind="auth.message" class=""> </h5>
        <div class="form-group">
          <label for="email">Email*</label>
          <input type="email" id="email" name="email" ng-model="user.email" required>
        </div>
        <div class="form-group">
          <label for="pwd">Password*</label>
          <input type="password" id="pwd" name="pwd" ng-model="user.pwd" required>
        </div>
        <button type="button" class="btn" ng-click="authenticate()">Login</button>
        
        <p class="lost_password"><a href="#">Forget your password?</a></p>
        <input type="hidden" ng-model="user.authUrl" value="{{ path('app_user_authenticate')  }}">
      </form>


    </div>
  </div>
</div>
{% endblock %}