<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you for choosing Galico Solutions</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
        .img-logo {
            width:7em;
            height:6em;

        }

        .img-template {
            width:18em;
            height:20em;

        }
        .bg-bluegp
        {

            background-color: #070b4f;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #070b4f;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
            color: white;
        }
        .floating-box {
            float: left;
            width: 45%;
            height: 45%;


        }

    </style>



</head>
<body>
{% set lang = app.session.get('lang') %}



<div class="container">

    <div class="col-md-8 col-md-offset-2 panel panel-primary"> <br/>
        <p style="text-align:left;"> <img src="https://general-pro.com/images/gp.png" class="img-logo"></p>
        <br>
        <ul>
            <li><a href="https://general-pro.com/" target = "blank">Home</a></li>
            <li><a href="https://general-pro.com/services" target = "blank">Services</a></li>
            <li><a href="https://general-pro.com/plans" target = "blank">Plans</a></li>
            <li><a href="https://general-pro.com/contact" target = "blank">Contact us</a></li>
            <li><a href="https://general-pro.com/about" target = "blank">About us</a></li>
        </ul>



        <div class="floating-box">


            <p style="text-align:left;"> <img src="https://general-pro.com/images/page-home/modelgp.png" class="img-template"></p>
        </div>

        <div class="floating-box"><br>
            <p>Dear {{customerFullname}}, </p>
            <p>
                We received payment for your General-pro.com subscription. Thanks for your preference!


                <br/>


            <table style= "width:100%" >

                <tbody>
                <tr>
                    <th style="text-align:left">Total:</th>
                    <td>24.99</td>

                </tr>
                <tr>
                    <th style="text-align:left">Charged to:</th>
                    <td>3*** **** **** 0242</td>

                </tr>
                <tr>
                    <th style="text-align:left">Transaction ID</th>
                    <td>2342365323</td>

                </tr>
                <tr>
                    <th style="text-align:left">Date</th>
                    <td>12-04-2017</td>

                </tr>
                <tr>
                    <th style="text-align:left">For service through</th>
                    <td>12-05-2017</td>

                </tr>
                </tbody>
            </table>

                <br/><br/>If you have questions or need assistance, please <a href="https://general-pro.com/contact">contact us.</a>

            </p>






        </div>

    </div>







</div>
</body>
</html>