<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Thank you for choosing General Pro</title>


    <style>
        .img-logo {
            width:7em;
            height:6em;

        }

        .img-container
        {
            width:22em;
            height:100%;
        }
        .img-container img
        {
            width:100%;
            height:15%;
        }

        .img-template {
            width:18em;
            height:20em;

        }
        .bg-bluegp
        {

            background-color: #070b4f;
        }

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #070b4f;
        }

        li {
            float: left;
        }

        li a {
            display: block;
            color: white;
            text-align: center;
            padding: 1em 1em;
            text-decoration: none;
        }

        /* Change the link color to #111 (black) on hover */
        li a:hover {
            background-color: #111;
            color: white;
        }

        .central-margin {

            width: 80%;
            margin-left: 10%;
        }




    </style>



</head>
<body>
{% set lang = app.session.get('lang') %}



<div class="container">

        <p style="text-align:left;"> <img src="https://general-pro.com/images/gp.png" class="img-logo"></p>
        <br>
        <ul >
            <li><a href="https://general-pro.com/" target = "blank">Home</a></li>
            <li><a href="https://general-pro.com/services" target = "blank">Services</a></li>
            <li><a href="https://general-pro.com/plans" target = "blank">Plans</a></li>
            <li><a href="https://general-pro.com/contact" target = "blank">Contact us</a></li>
            <li><a href="https://general-pro.com/about" target = "blank">About us</a></li>
        </ul>

    <div class="central-margin">

        <div class="img-container central-margin" > <img src="https://general-pro.com/images/page-home/{{ image }}.jpg" >
        </div>

        <div class="central-margin">
            {{messageBody | nl2br }}


        </div>
    </div>


</div>
</body>
</html>